.main {
  border: solid $cBlack;
  border-radius: 30px;
  max-width: 90%;
  &__inner {
    max-width: 90%;
  }
  & .iframe__outer {
    width: 70%;
    height: 300px;
  }
  & .iframe__under {
    padding-top: 300px;
  }
}
