.symple-content {
  $headerHeight: 160px;

  button,
  a {
    &:hover {
      opacity: 0.5;
    }
  }

  @keyframes bounce-down {
    0%,
    100% {
      transform: translateY(0) rotate(90deg);
    }
    30% {
      transform: translateY(0) rotate(90deg);
    }
    50% {
      transform: translateY(5px) rotate(90deg);
    }
  }

  .font--mini {
    font-size: 14px;
  }

  .header {
    position: relative;
    background-color: $cWhite;
    height: $headerHeight;
    ul {
      align-self: flex-end;
      margin-bottom: 3px;
    }
    li {
      margin: 0 10px;
    }
  }

  .header__inner {
    height: $headerHeight;
    font-family: "Kalam", cursive;
  }

  .icon {
    align-self: flex-end;
    margin-bottom: 5px;
  }

  .top-img-wrapper {
    position: relative;
  }

  .top-img {
    width: 100%;
  }

  .textBox {
    margin: auto;
    width: 80%;
    padding: 3% 2%;
    font-size: 18px;
    text-align: center;
  }

  .scroll-container {
    background-color: $cBlack;
  }

  .scroll-icon {
    color: #d6d6d6;
  }

  .scroll-text {
    color: #d6d6d6;
    padding: 0 5%;
    width: 97.3vw;
  }

  .title {
    border-bottom: 2px solid $cBlack;
    padding: 10px 0;
    font-size: 24px;
  }

  svg {
    height: auto;
  }

  .handPoint {
    width: 50px !important;
    height: auto;
    animation: 1.5s linear infinite bounce-down;
  }

  .mini-sircle {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    flex: 1;
    margin: 20px;
    vertical-align: top;
  }

  .text-align-center {
    padding: 8px;
    span {
      display: block;
      margin: 15px 0;
      font-weight: bold;
    }
  }

  .player {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  .label {
    position: relative;
    flex: 1;
  }

  .label-img {
    transform: rotateY(0deg);
    transition: 1s;
    overflow: hidden;
  }

  .label-img-0 {
    transform: rotateY(180deg);
    transition: 1s;
    overflow: hidden;
  }

  .label-note {
    position: absolute;
    opacity: 1;
    z-index: 10;
    flex: 1;
    background-color: #f3f3f3;
    border: 2px solid $cWhite;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(0deg);
    transition: 1s;
  }

  .label-note-0 {
    position: absolute;
    opacity: 0;
    z-index: 0;
    flex: 1;
    border: 2px solid $cWhite;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
    transition: 1s;
  }

  .black-text {
    margin: 10px;
  }

  .white-text {
    position: absolute;
    padding: 10px;
    top: 0;
    writing-mode: vertical-rl;
    color: $cWhite;
    font-size: 6vw;
  }

  audio {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 311px;
    z-index: 5;
    height: 66px;
    transform: scale(3.3);
  }
  
  @media screen and (max-width: 600px) {
    .textBox {
      text-align: center;
    }
    .mini-sircle {
      width: 100px;
      height: 100px;
    }
    .label-img {
      height: 200px;
      text-align: left;
    }
    .label-img-0 {
      height: 200px;
    }
    .white-text {
      padding: 0 7px;
      writing-mode: unset;
      font-size: 2rem;
    }
    .font--mini {
      font-size: 2vw;
    }
  }
}
