.top-content {
  .scroll-top {
    margin-top: -$headerHeight;
    height: $headerHeight;
  }

  .h1 {
    margin: 20px;
    padding-left: 10px;
  }

  .h2 {
    margin: 20px 0;
  }

  button,
  a {
    &:hover {
      opacity: 0.5;
    }
  }

  @keyframes pendulum {
    0% {
      transform: rotate(0deg) translateX(-0.5px) translateY(0px);
    }
    12.5% {
      transform: rotate(10deg) translateX(-1px) translateY(0px);
    }
    25% {
      transform: rotate(-23deg) translateX(4px) translateY(-5px);
    }
    37.5% {
      transform: rotate(5deg) translateX(-1px) translateY(0px);
    }
    50% {
      transform: rotate(-24deg) translateX(4px) translateY(-5px);
    }
    65.5%,
    100% {
      transform: rotate(0deg) translateX(-0.5px) translateY(0px);
    }
  }

  @keyframes purupuru {
    0% {
      transform: scale(1, 1) translate(0%, 0%);
    }
    10% {
      transform: scale(0.98, 1) translate(0%, 1%);
    }
    15% {
      transform: scale(1.1, 0.9) translate(0%, 2.5%);
    }
    20% {
      transform: scale(0.95, 1.05) translate(0%, -1.5%);
    }
    25% {
      transform: scale(1.05, 0.95) translate(0%, 1%);
    }
    30% {
      transform: scale(1, 1) translate(0%, 0%);
    }
    35% {
      transform: scale(1.05, 0.95) translate(0%, 1%);
    }
    50%,
    100% {
      transform: scale(1, 1) translate(0%, 0%);
    }
  }

  .icon {
    margin: auto 0;
  }

  .FV {
    text-align: center;
    padding: 210px 0 170px;
    width: 100%;
  }

  .FV_inner {
    position: relative;
    width: fit-content;
    margin: auto;
  }

  .name {
    position: absolute !important;
    top: -24px;
    left: -51px;
  }
  .name_A {
    animation: 4.5s ease infinite pendulum;
  }
  .name_m {
    animation: 4.5s normal infinite purupuru;
  }

  .title {
    text-align: center;
  }

  .card-container {
    width: 100%;
    height: 342px;
    background-color: #f1f1f1;
  }

  .card-container__inner {
    position: relative;
    margin: auto;
    width: 400.64px;
    max-width: 90%;
    padding-top: 13px;
    transition: 1s;
  }

  .card-container__inner--0 {
    width: 197px;
    transition: 1s;
  }

  .card-wrapper {
    position: relative;
    margin-top: 10px;
    transition: 1s;
  }

  .card-wrapper--0 {
    margin-left: -193px;
    transition: 1s;
  }

  .card {
    position: absolute !important;
    top: 0;
    left: 49.5%;
    width: 50% !important;
    max-width: 100%;
    transform: scale(1);
    transition: 1s;
  }

  .card--left {
    width: 53% !important;
  }

  .card--right {
    left: 49.5%;
    width: 50.9% !important;
  }

  .card--none {
    visibility: hidden;
    opacity: 0;
  }

  .card--open {
    left: 0;
    transform: scale(-1, 1);
  }

  .card--left--open {
    left: -7px;
  }

  .display-parts {
    position: absolute !important;
    z-index: 10;
  }

  .pc {
    position: relative;
    max-width: 100%;
    width: 450px;
  }

  .pc--bottom {
    bottom: -22%;
  }

  .pc_inner {
    position: absolute !important;
    margin: 6%;
    height: 90%;
    top: 0;
  }

  .ipad {
    width: 238px;
  }

  .ipad_inner {
    position: absolute;
    top: 0;
    left: 0;
    top: 35px;
    left: 19px;
    height: 265px;
  }

  .sp {
    width: 182px;
  }

  .sp_inner {
    position: absolute;
    top: 18px;
    left: 18px;
    height: 325px;
    border-radius: 15px;
  }

  .footer {
    background-color: #fbfbfb;
  }

  @media screen and (max-width: 600px) {
    .header {
      .icon {
        display: none;
      }
    }
    .FV {
      padding: 100px 0;
    }

    .title {
      padding: 0;
      text-align: center;
    }
  }

  @media screen and (max-width: 450px) {
    .pc_inner {
      width: 88%;
      .gatsby-image-wrapper {
        max-width: 100%;
      }
    }
    .pc--bottom {
      bottom: -20%;
    }
  }
}
