.top-content {
  $headerHeight: 54px;

  .scroll-top {
    margin-top: -$headerHeight;
    height: $headerHeight;
  }

  .h1 {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .h2 {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  h2 {
    font-weight: 100;
  }

  button,
  a {
    &:hover {
      opacity: 0.5;
    }
  }

  @keyframes pendulum {
    0% {
      transform: rotate(0deg) translateX(-0.5px) translateY(0px);
    }
    12.5% {
      transform: rotate(10deg) translateX(-1px) translateY(0px);
    }
    25% {
      transform: rotate(-23deg) translateX(4px) translateY(-5px);
    }
    37.5% {
      transform: rotate(5deg) translateX(-1px) translateY(0px);
    }
    50% {
      transform: rotate(-24deg) translateX(4px) translateY(-5px);
    }
    65.5%,
    100% {
      transform: rotate(0deg) translateX(-0.5px) translateY(0px);
    }
  }

  @keyframes purupuru {
    0% {
      transform: scale(1, 1) translate(0%, 0%);
    }
    10% {
      transform: scale(0.98, 1) translate(0%, 1%);
    }
    15% {
      transform: scale(1.1, 0.9) translate(0%, 2.5%);
    }
    20% {
      transform: scale(0.95, 1.05) translate(0%, -1.5%);
    }
    25% {
      transform: scale(1.05, 0.95) translate(0%, 1%);
    }
    30% {
      transform: scale(1, 1) translate(0%, 0%);
    }
    35% {
      transform: scale(1.05, 0.95) translate(0%, 1%);
    }
    50%,
    100% {
      transform: scale(1, 1) translate(0%, 0%);
    }
  }

  .header {
    position: relative;
    height: $headerHeight;
    border-bottom: 4px solid #d8d8d8;
    color: $cDarkgray;
    display: flex;
    align-items: center;
  }

  .header__under {
    height: 0;
  }

  .myPhoto {
    position: absolute !important;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
  }

  .FV {
    width: 100%;
    padding: 43% 0 5.5%;
  }

  .FV_inner {
    position: relative;
  }

  .name {
    position: absolute !important;
    bottom: 0%;
    right: 5%;
    width: 23%;
  }
  .name_A {
    animation: 4.5s ease infinite pendulum;
  }
  .name_m {
    animation: 4.5s normal infinite purupuru;
  }

  .profile {
    width: 50%;
    min-width: 260px;
    margin: 6% 4% 28.5% auto;
    color: $cDarkgray;
    font-size: 1.5vw;
    font-weight: bold;
  }

  .card-container {
    width: 100%;
    height: 380px;
    background-color: $cWhite;
    border-bottom: 4px solid #d8d8d8;
  }

  .card-container__inner {
    position: relative;
    margin: auto;
    width: 359px;
    max-width: 90%;
    padding-top: 50px;
    transition: 1s;
  }

  .card-container__inner--0 {
    width: 197px;
    transition: 1s;
  }

  .card-wrapper {
    position: relative;
    margin-top: 10px;
    transition: 1s;
  }

  .card-wrapper--0 {
    margin-left: -193px;
    transition: 1s;
  }

  .card {
    position: absolute !important;
    top: 0;
    left: 47.5%;
    width: 53.3% !important;
    max-width: 100%;
    transform: scale(1);
    transition: 1s;
  }

  .card-top--0 {
    left: 55.5%;
    width: 50% !important;
  }

  .card--0 {
    left: 60%;
  }

  .card--left {
    width: 52.3% !important;
  }

  .card--none {
    visibility: hidden;
    opacity: 0;
  }

  .card--open {
    left: 0;
    transform: scale(-1, 1);
  }

  .card--left--open {
    left: -7px;
  }

  .card--control {
    z-index: 10;
    height: 283.5px;
  }

  .top-pictures {
    width: 76%;
    margin: 60px auto 40px;
    .gatsby-image-wrapper {
      margin: 20px 0;
    }
  }

  .scroll-container {
    padding: 30px 0;
    background-color: #efefef;
  }

  .display-parts {
    position: absolute !important;
    z-index: 10;
  }

  .pc {
    position: relative;
    width: 450px;
  }

  .pc--bottom {
    width: 451px;
    bottom: -24.5%;
  }

  .pc_inner {
    position: absolute !important;
    margin: 5.5%;
    height: 86%;
    top: 0;
    padding: 0;
  }

  .ipad {
    width: 238px;
  }

  .ipad_inner {
    position: absolute;
    top: 0;
    left: 0;
    top: 35px;
    left: 19px;
    height: 265px;
    padding: 0;
  }

  .sp {
    width: 182px;
  }

  .sp_inner {
    position: absolute;
    top: 4px;
    left: 18px;
    height: 323px;
    border-radius: 15px;
    padding: 0;
  }

  .footer {
    background-color: $cWhite;
    padding: 20px;
    .gatsby-image-wrapper{
      display: block !important;
      margin: auto;
    }
  }

  @media screen and (max-width: 600px) {
    .card-container {
      max-height: 342px;
    }

    .card-container__inner--0 {
      width: 197px;
      max-width: 30%;
      transition: 1s;
    }

    .card-top--0 {
      width: 55% !important;
    }

    .card--control {
      height: 69vw;
    }
  }

  @media screen and (max-width: 450px) {
    .pc--bottom {
      bottom: -20%;
    }
    .profile{
      margin: 5px 0 10px ;
    }
  }
  @media screen and (min-width: $maxWidth) {
    .profile{
      margin: 60px 40px 285px 460px;
      font-size: 16px;
    }
  }
}
