body {
  min-width: 260px;
  font-size: 16px;
}
body,
span,
p,
h3 {
  margin: 0;
}
button,
a {
  background-color: unset;
  border: none;
  outline: none !important;
  text-decoration: none !important;
  cursor: pointer;
  color: $cBlack;
  &:hover {
    opacity: 0.5;
  }
}
ul {
  padding: 0;
  list-style: none;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $maxWidth;
  min-width: $minWidth;
}

.pc-display-none {
  display: none;
}

.position-relative {
  position: relative;
}

.font-bold {
  font-weight: bold;
}

.text-align-center {
  text-align: center;
}

.text-align-left-center {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.display-flex {
  display: flex;
}

.display-flex-block {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.max-width-100 {
  max-width: 100%;
}

.height-fit {
  height: fit-content;
}

.scroll-container {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.border-radius {
  border-radius: 10px;
}

.sircle {
  border-radius: 50%;
}

.player {
  z-index: 10;
  cursor: pointer;
}

.icon {
  margin: auto 0;
}

@media screen and (max-width: 600px) {
  .sp-display-none {
    display: none;
  }

  .pc-display-none {
    display: inline-block;
  }

  .display-flex-block {
    display: block;
  }

  .text-align-left-center {
    text-align: center;
  }
}
