.cube-content {
  font-family: "Kosugi Maru", sans-serif;
  color: $cWhite;
  background-color: #c4c4c4;
  width: 100%;
  height: auto;

  .content-width {
    background-image: url("../../frontmatter/images/picture/spiral-step3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 255px;
  }

  a {
    color: $cWhite;
    &:hover {
      opacity: 0.3;
    }
  }

  .bar--black {
    height: 3px;
    width: 400px;
    margin: auto;
    background-color: $cBlack;
  }

  .header {
    position: relative;
    height: 382px;
    transition: 1s;
    background-color: #c4c4c4;
    border: none;
    button {
      position: absolute;
      z-index: 10;
      right: 31px;
      top: 4%;
      height: 60px;
      width: 100px;
      & > span {
        position: absolute;
        right: 0;
        background-color: $cWhite;
        &:nth-child(1) {
          width: 100px;
        }
        &:nth-child(2) {
          width: 70px;
          top: 55px;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }

  .mobile-menu-open {
    transition: opacity 0.5s;
  }

  .padding {
    padding-top: 100px;
  }

  .list {
    margin-top: -140px;
    padding: 0 5%;
    text-align: right;
    line-height: 30px;
  }

  .top__text {
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    font-size: 29px;
    font-weight: bold;
    line-height: 47px;
    width: 90%;
  }

  .mirror-text {
    background-color: unset;
    transform: rotateX(180deg);
    color: #bbbbbb;
  }

  .text-small {
    font-size: 16px;
  }

  .small-box {
    width: 11px;
    height: 11px;
    background-color: $cBlack;
    border-radius: 3px;
    display: inline-block;
  }

  .back-img-wrapper {
    position: absolute !important;
    left: 37%;
  }

  .Box {
    margin-top: 100px;
    display: flex;
  }

  .whiteBox {
    background-color: white;
    padding-top: 100px;
    padding-left: 20%;
    margin-top: -100px;
    margin-left: -20%;
    margin-bottom: -46px;
    width: 150%;
    transform: rotate(-11deg);
    color: $cBlack;
  }

  .bird--white {
    position: relative;
    color: $cWhite;
    margin-top: -130px;
    font-size: 40px;
  }

  .bird--white--2 {
    position: relative;
    margin-top: -115px;
    font-size: 20px;
  }

  .eye {
    position: absolute;
    top: -29px;
    left: 187px;
    font-size: 6px;
    color: $cWhite;
  }
  .eye--2 {
    position: absolute;
    top: -14px;
    left: 221px;
    width: 5px;
    height: 5px;
    background-color: white;
  }

  .whiteBox__inner {
    display: flex;
    transform: rotate(11deg);
    opacity: 0.7;
  }

  .BlackBox {
    background-color: $cBlack;
    border-radius: 10px;
    min-width: 140px;
    width: 140px;
    height: 140px;
  }

  .BlackBox > div,
  .BlackBox > svg {
    display: block !important;
    margin: auto;
    margin-top: 40px;
  }

  .BlackBox > svg {
    margin-top: 50px;
    font-size: 30px;
  }

  section {
    :nth-child(1),
    :nth-child(3),
    :nth-child(5) {
      .GrayBox {
        left: 20px;
      }
      .Box-text {
        margin: auto 0 auto 30px;
      }
    }
    :nth-child(2),
    :nth-child(4) {
      justify-content: flex-end;
      .GrayBox {
        right: 20px;
      }
      .Box-text {
        margin: auto 30px auto 0;
      }
    }
  }

  .Box-text {
    font-size: 24px;
    line-height: 35px;
  }
  .under--black {
    width: 100%;
    height: 2px;
    background-color: $cBlack;
  }

  .text-desc {
    font-size: 14px;
    font-weight: bold;
    margin-top: 14px;
    margin-bottom: 200px;
    line-height: 22px;
  }

  .title-font-size {
    font-size: 20px;
  }

  .border--gray {
    background-color: $cBlack;
    width: 90%;
    height: 3px;
    margin: 0 auto 40px;
  }

  .composer {
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 380px;
  }

  .composer-text {
    margin: auto 30px;
  }

  .player {
    position: absolute;
    width: 140px;
    height: 140px;
    transition: 1s;
    border-radius: 10px;
    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  @media screen and (max-width: 600px) {
    .text-small {
      position: unset;
    }

    .Box-text {
      text-align: center;
    }

    section {
      :nth-child(1),
      :nth-child(5),
      :nth-child(9) {
        .Box-text {
          margin: auto;
        }
      }
      :nth-child(3),
      :nth-child(7) {
        .Box-text {
          margin: auto;
        }
      }
    }

    .composer {
      width: 100%;
      margin-bottom: 20px;
    }

    .composer-text {
      margin-top: 5px;
    }
  }
}
