.footer {
  margin-top: 40px;
  width: 100%;
  &__inner {
    @extend .content-width;
    padding: 30px 0;
    text-align: center;
    ul {
      padding-left: 10px;
    }
    a,
    button {
      color: $cBlack;
      &:hover {
        opacity: 0.4;
      }
    }
  }
}
