.maincontainer {
  background-color: $cWhite;
  &__inner {
    padding-bottom: 100px;
    @extend .content-width;
  }
}
.main {
  background-color: $cWhite;
  width: 600px;
  padding: 50px 0 50px 0;
  margin: 0 auto 0 auto;
  &__inner {
    margin: 0 auto;
    & h2 {
      text-align: center;
      margin-bottom: 20px;
      text-decoration: underline;
    }
    & .video {
      position: absolute;
      left: 0;
      width: 100%;
      height: 52%;
      & .iframe__outer {
        max-width: 550px;
        margin: auto;
        & iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.video__descript {
  margin: 40px 0 80px 0;
}
.index {
  margin-top: 33px;
  &__alph {
    font-weight: bold;
  }
  &__ja {
    margin: 0;
  }
}
