$cWhite:white;
$cBlack:black;
$cBorder:#cccccc;
$cBack:#fbfbfb;
$cContainer:#fcfff8;
$cIconButtonA:#393939;
$cMenuOpen:$cBlack;
$cMenuClose:$cBlack;
$maxWidth: 1000px;
$minWidth:272px;
$headerHeight: 90px;