@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

$cWhite: white;
$cBlack: black;
$cFooter: #fbfbfb;
$cButton: #393939;
$maxWidth: 1000px;
$minWidth: 260px;
$headerHeight: 90px;
