@import "variables";
@import "header";
@import "base";
@import "sp";

.header-under {
  position: absolute;
  top: 0;
  left: 0;
  height: $headerHeight;
  width: 100%;
}

.main_bg {
  background-color: $cBlack;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 48rem;
}

.main_bg-container {
  position: relative;
  margin: auto;
  width: 160px;
  height: 100%;
  z-index: 10;
}

.spin-btn {
  position: absolute !important;
  top: 32.4%;
  transform: rotate(0deg);
  transition: 0.3s;
}

.spine-btn-hover-none {
  opacity: 0;
  transform: rotate(360deg);
  transition: 0.3s;
}

.spin-btn-hover {
  transform: rotate(360deg);
  transition: 0.3s;
}

.green-btn {
  z-index: 1;
}

.main_text-container {
  max-width: 1000px;
  height: 46rem;
  margin: 0 auto;
  margin-top: -768px;
}

.main_text {
  font-size: 86px;
  font-weight: bold;
  color: $cWhite;
  text-shadow: 1px 0 5px black, 0 1px 5px black, -1px 0 5px black,
    0 -1px 5px black;
  margin: 33px 3px 0 3px;
  transform: translateX(0px);
  transition: 0.3s;
}

.main_text-none {
  opacity: 0;
  font-size: 86px;
  font-weight: bold;
  color: $cWhite;
  text-shadow: 1px 0 5px black, 0 1px 5px black, -1px 0 5px black,
    0 -1px 5px black;
  margin: 33px 3px 0 3px;
  transform: translateX(1000px);
  transition: 0.3s;
}

.pageNation-container {
  background-color: rgba(252, 252, 252, 0.7);
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 127px;
  width: 90%;
  height: 31px;
  padding: 7px 10px;
  font-size: 18px;
  font-weight: bold;
}

.prev {
  float: left;
}

.next {
  float: right;
}
