.mobile-menu__btn{display: none;}
ul{display: flex;}
.menu-btn{
    background-color: $cWhite;
    border: 1px solid $cBorder;
    margin:25px auto 20px auto; 
    padding:0px 34px;
    transition: 0.7s;
    &:hover{
        background-color: $cBorder;
        & a{color:$cWhite;}}}
.sign-up{
    position: relative;
    width:143px;
    height:34px;
    background-color: #3e3d3d;
    border: 1px solid $cBorder;
    transition:0.3s;
    box-shadow: 2px 2px 0 0 $cBlack;
    & a{position: absolute;
        color:$cWhite;
        padding: 3px 31px;}
    &:hover{
        transform: translate(2px, 2px);
        box-shadow: none;}}